@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

a{
    text-decoration: none;
    color:#00DFA2;
}

a:hover{
    text-decoration: none;
    color:#00DFA2;

}

body{
    background-color: #18122B;
}

.Textlogo{
    padding:20px;
    color:#00DFA2;
}

.right-nav{
    float: right;
    padding:0;
    margin-top:-5%;
}
.right2{
    display: flex;
    flex-direction: column;
    float: right;
}
.btnApp1{
    outline:none;
    border:none;
    width:50px;
    padding:0;
    background-color: transparent;

}
.btnApp1:hover{
    background-color: transparent;

}

.glass-outer{
    display: flex;
    justify-content: center;
}

.glass-container{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:800px;
    height:350px;
    overflow-y: scroll;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap:15px;
    align-items: center;
    flex-wrap: wrap;
}

.container2{
    width:800px;
    height:300px;
    margin-top: 2%;

}

.glass-container::-webkit-scrollbar{
    display: none;
}

.glass-content{
    width:200px;
    height:85px;
    border-radius: 10px;
    background-color: #525FE1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top:10%;
}
.glass-content:hover{
    border:2px solid #F86F03;
}

.glass-content p{
    font-size: 20px;
    color:#FFECEC;
    text-align: center;
}
.cn{
    font-family: 'Ma Shan Zheng', cursive;
}

.sectionHead{
    color:#525FE1;
    padding:20px;
}

footer{
    display: fixed;
    left:0;
    bottom:0;
}
.glass-img{
    width:70px;
    height:70px;
    border-radius: 5px;
}
.modal-content{
    background-color: #FF0060;
    color:#F9F5F6;
}
.modal-header{
    outline:none;
    border:none;
}
.modal-footer{
    outline:none;
    border:none;
}
.modal-body{
    display: flex;
    gap:5px;
    justify-content: center;
    height:200px;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.modal-body::-webkit-scrollbar{
    display: none;
}
.modal-body a{
    margin-top: 5%;
}
.modal-apps{
    background-color: #40128B;
    width:100px;
    height:50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFE7CE;
}
.modal-apps:hover{
    border:2px solid #F9F5F6;
}
.app-img{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}