@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');



a{
    text-decoration: none;
    color:#00DFA2;
}

a:hover{
    text-decoration: none;
    color:#00DFA2;

}

body{
    background-color: #18122B;
}

.Textlogo{
    padding:20px;
    color:#00DFA2;
}

.right-nav{
    float: right;
    padding:0;
    margin-top:-5%;
}

.glass-outer{
    display: flex;
    justify-content: center;
}

.glass-container{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:800px;
    height:350px;
    overflow-y: scroll;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap:15px;
    align-items: center;
    flex-wrap: wrap;
}

.glass-container::-webkit-scrollbar{
    display: none;
}

.glass-content{
    width:200px;
    height:85px;
    border-radius: 10px;
    background-color: #525FE1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin:1%;
}
.glass-content:hover{
    border:2px solid #F86F03;
}

.glass-content p{
    font-size: 20px;
    color:#FFECEC;
    text-align: center;
}
.cn{
    font-family: 'Ma Shan Zheng', cursive;
}