a{
    text-decoration: none;
    color:#00DFA2;
}

a:hover{
    text-decoration: none;
    color:#00DFA2;

}

body{
    background-color: #18122B;
}

.Textlogo{
    padding:20px;
    color:#00DFA2;
}

.right-nav{
    float: right;
    padding:0;
    margin-top:-5%;
}

.glass-outer{
    display: flex;
    justify-content: center;
}

.glass-container{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:800px;
    height:300px;
    overflow-y: scroll;
    margin-top: 5%;
}

.glass-container::-webkit-scrollbar{
    display: none;
}